# DataStax connection parameters

DSE_SECURE_CONNECT_BUNDLE=/Users/<your-user>/Downloads/<guid>-public.zip
DSE_USERNAME=<your-username>
DSE_PASSWORD=<your-password>
DSE_KEYSPACE=<your-keyspace-name>

# If not running on localhost, set your site URL for auth.
# NEXTAUTH_URL=http://localhost:8080

