.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0rem;
  }
  
.cust {
    font-family: Arial;
    font-size: 0.8em;
    font-weight: 100;
    font-family: Arial;
    color: darkslategrey;
    margin: 0 0;
  }

.h1 {
    font-family: Arial;
    font-size: 2em;
    font-weight: 100;
    text-transform: uppercase;
    color: indigo;
    margin: 0 0;
  }

  .links {
    display: flex;
  }
  
  .link {
    list-style: none;
    margin: 0 1rem;
  }

  .badge {
    margin: 0;
  }